<ng-template #contentPuntoVenta let-modal>

    <div class="modal-header">
        <h5 class="modal-title"><i class="fa-solid fa-truck-fast me-2"></i>Tienda: {{ warehouseName | uppercase}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>

    <div class="modal-body">

        <div class="row">

            <!-- <div class="col-lg-6 d-none d-lg-block">
                <app-input-group icon="fa-solid fa-warehouse">
                    <select class="form-select" [disabled]="true" aria-label="Default select example">
                        <option value="1">Tienda: {{ warehouseName | uppercase}}</option>
                    </select>
                </app-input-group>
            </div>

            <div class="col-lg-6 col-12">
                <app-input-group icon="fa-solid fa-user">
                    <select class="form-select" [disabled]="true" aria-label="Default select example">
                        <option value="1">Vendedor: {{ userName | uppercase }}</option>
                    </select>
                </app-input-group>
            </div> -->


            <div class="col-lg-12">

                <form [formGroup]="form">

                    <!-- {{ form.value | json }} -->

                    <div class="row">
                        <div class="col-lg-6">
                            <!-- origines -->
                            <app-select-custom [options]="origins" formControlName="origin_id"></app-select-custom>
                            <!-- {{ form.value | json }} -->
                        </div>

                        <div class="col-lg-6">
                            <!-- methodos de entrega -->
                            <app-select-custom [options]="delivery_methods"
                                formControlName="delivery_method_id"></app-select-custom>
                        </div>

                        <div class="col-lg-12">
                            <!-- seleccioanr courier -->
                            <app-select-custom [options]="couriers"
                                formControlName="courier_id"></app-select-custom>
                        </div>

                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-12">
                            <app-button-push formControlName="acepta_contra_entrega" *ngIf="courier.acepta_contra_entrega">Contra Entrega</app-button-push>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn p-custom w-100 mb-3" [disabled]="courier.acepta_pago_destino ? false : true" [ngClass]="envio_es == 3 ? 'btn-dark' : 'btn-outline-dark'" (click)="envioEs(3)">
                                Pago destino
                            </button>
                            
                        </div>
                        <div class="col-lg-4">
                            <button class="btn p-custom w-100 mb-3" [ngClass]="envio_gratis ? 'btn-dark' : 'btn-outline-dark'" (click)="envioGratis()">
                                Gratis
                            </button>
                        </div>
                        <div class="col-lg-4">
                            <app-input-group icon="fa-solid fa-user" icontext="S/.">
                                <input type="number" class="form-control" step="0.01"
                                    formControlName="shipping_cost" placeholder="0.00">
                            </app-input-group>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-body">
                            <app-address-form formControlName="address" (formValidity)="formValid($event)"
                                [header]="false" [saving]="false"></app-address-form>
                        </div>
                    </div>

                    <app-cart-order [warehouse_id]="warehouse_id" *ngIf="cartItems != null"></app-cart-order>

                    <app-input-search-product></app-input-search-product>

                </form>

            </div>
        </div>

    </div>
    <div class="modal-footer py-4 px-5">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!(btnActive && formAddressIsValid)"
            (click)="generarVenta()">Generar
            Pedido</button>
    </div>

</ng-template>


<button class="btn btn-outline-dark px-3" (click)="openVerticallyCentered(contentPuntoVenta)"><i
        class="fa-solid fa-truck-fast"></i>{{ text }}</button>