<!-- <ng-template #contentVentaOnline let-modal>

    <div class="modal-header">
        <h5 class="modal-title"><i class="fa-solid fa-cash-register me-2"></i>Venta Online
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <app-address-form [saving]="false" [header]="false"></app-address-form>

        <app-cart-order [warehouse_id]="warehouse_id"></app-cart-order>

        <app-input-search-product></app-input-search-product>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!btnActive" (click)="generarVenta()">Generar
            Pedido</button>
    </div>

</ng-template>


<button ngbDropdownItem (click)="openVerticallyCentered(contentVentaOnline)"><i
    class="fa-solid fa-globe me-2"></i>Venta Online</button> -->