<nav class="mb-3">
    <div class="container d-flex flex-row-reverse">
        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Almacenes
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a [routerLink]="['/', store, 'auth', 'products','warehouse', '1']" class="dropdown-item">Aquarella</a>
                </li>
                <li><a class="dropdown-item" href="#">Luvadi</a></li>
                <li><a class="dropdown-item" href="#">Otra</a></li>
            </ul>
        </div>
    </div>
</nav>


