<ul class="list-group mb-3">
    <li class="list-group-item py-3">Resumen Compra</li>
    <li class="list-group-item d-flex justify-content-between align-items-center"
        *ngFor="let item of items; index as position">
        <div class="item d-flex align-items-center">
            <img height="75px" [src]="item.color.image.url_thumbnail" alt="">
            <div class="item-details ms-3">
                <h6>{{ item.quantity }} x S/. 29.95</h6>
                <span class="me-3">({{ item.size }})</span>
            </div>
        </div>

        <button class="btn btn-danger" (click)="deleteItem(position)">X</button>
    </li>
</ul>

<ul class="list-group mb-3">

    <li class="list-group-item d-flex justify-content-between">
        Resumen de pago
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <span class="label">Sub Total</span><span class="amount">S/. 29.95</span>
    </li>

    <li class="list-group-item d-flex justify-content-between">
        <span class="label">IGV</span><span class="amount">S/. 0.00</span>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <span class="label">Envio</span><span class="amount">S/. 10.00</span>
    </li>
    <li class="list-group-item">
        <h4 class="d-flex justify-content-between"><span class="label">Total</span><span class="amount">S/. 39.95</span>
        </h4>
    </li>
</ul>