<app-header></app-header>

<div class="container">

    <form action="#">


        <div class="card">
            <div class="body p-3">
                <div class="accordion accordion-flush" id="accordionFlushExample">

                    <div class="accordion-item" *ngFor="let section of sections">
                        <h2 class="accordion-header" id="flush-headingOne">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapse-' + section.id" aria-expanded="false" [attr.aria-controls]="'flush-collapse-' + section.id">
                            {{ section.title }}
                          </button>
                        </h2>
                        <div id="flush-collapse-{{ section.id }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <div class="input-group mb-3">
                              <span class="input-group-text" id="basic-addon1"><i class="fa-brands fa-facebook"></i></span>
                              <input type="text" class="form-control" placeholder="Facebook" aria-label="facebook" aria-describedby="basic-addon1">
                            </div>
                          </div>
                        </div>
                      </div>

                  </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-brands fa-facebook"></i></span>
                    <input type="text" class="form-control" placeholder="Facebook" aria-label="facebook" aria-describedby="basic-addon1">
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-brands fa-tiktok"></i></span>
                    <input type="text" class="form-control" placeholder="TikTok" aria-label="tiktok" aria-describedby="basic-addon1">
                  </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-brands fa-instagram"></i></span>
                    <input type="text" class="form-control" placeholder="Instagram" aria-label="instagram" aria-describedby="basic-addon1">
                  </div>
            </div>

        </div>



          
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2"></span>
          </div>
          
          <div class="mb-3">
            <label for="basic-url" class="form-label">Your vanity URL</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
            </div>
            <div class="form-text" id="basic-addon4">Example help text goes outside the input group.</div>
          </div>
          
          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-text">.00</span>
          </div>
          
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username">
            <span class="input-group-text"><li class="fa fa-user"></li></span>
            <input type="text" class="form-control" placeholder="Server" aria-label="Server">
          </div>
          
          <div class="input-group">
            <span class="input-group-text">With textarea</span>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div>

    </form>

</div>


