<app-header></app-header>

<div class="container">

    <!-- {{ form.value.logo | json }} -->

    <div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Guardado</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <form [formGroup]="form" (ngSubmit)="enviarForm()">

        <!-- <div class="row">
            <div class="col-lg-4">
                <app-upload-option-dropzone name="yape"></app-upload-option-dropzone>
            </div>
            <div class="col-lg-4">
                <app-upload-option-dropzone name="plin"></app-upload-option-dropzone>
            </div>
        </div> -->

        <app-card-config title="Informacion web" [loading]="loadingData">

            <div class="col-lg-4">
                <app-upload-option-dropzone name="logo" [image]="form.value.logo" *ngIf="!loadingData"></app-upload-option-dropzone>
            </div>

            <div class="col-lg-8 col-12">

                <div class="row">
                    <div class="col-lg-12">
                        <app-input-group icon="fas fa-home">
                            <input formControlName="title" type="text" class="form-control" [ngClass]="{'is-invalid': isValidField('title')}"
                             placeholder="Titulo de la pagina web" aria-label="tiktok" aria-describedby="basic-tiktok">
                        </app-input-group>
                    </div>
    
                    <div class="col-lg-6 col-6">
                        <app-input-group icon="fas fa-home">
                            <input formControlName="iniciales" type="text" class="form-control" placeholder="Iniciales" aria-label="iniciales" aria-describedby="basic-iniciales">
                        </app-input-group>
                    </div>
                    <div class="col-lg-6 col-6">
                        <app-input-group icon="fas fa-globe-americas">
                            <input formControlName="dominio" type="text" class="form-control" [ngClass]="{'is-invalid': isValidField('dominio')}" placeholder="Dominio" aria-label="dominio" aria-describedby="basic-dominio">
                        </app-input-group>
                        
                    </div>
                    <div class="col-lg-12 col-12">
                        <app-input-group icontext="S/.">
                            <input formControlName="ship_min" type="number" step="0.01" class="form-control" placeholder="Monto minimo para envio gratis" aria-label="Monto minimo para envio gratis" aria-describedby="basic-envio-gratis">
                        </app-input-group>
                    </div>
                </div>

            </div>

        </app-card-config>
   

        <app-card-config title="Redes Sociales" [loading]="loadingData">
            <div class="col-lg-6 col-6">
                <app-input-group icon="fa-brands fa-tiktok">
                    <input formControlName="tiktok" type="text" class="form-control" placeholder="TikTok" aria-label="tiktok" aria-describedby="basic-tiktok">
                </app-input-group>

            </div>
            <div class="col-lg-6 col-6">
                <app-input-group icon="fa-brands fa-facebook">
                    <input formControlName="facebook" type="text" class="form-control" placeholder="Facebook" aria-label="facebook" aria-describedby="basic-facebook">
                </app-input-group>
            </div>
            <div class="col-lg-6 col-6">
                <app-input-group icon="fa-brands fa-instagram">
                    <input formControlName="instagram" type="text" class="form-control" placeholder="Instagram" aria-label="instagram" aria-describedby="basic-instagram">
                </app-input-group>
            </div>
            <div class="col-lg-6 col-6">
                <app-input-group icon="fa-brands fa-whatsapp">
                    <input formControlName="whatsapp" type="number" step="1" class="form-control" placeholder="Whatsapp" aria-label="whatsapp" aria-describedby="basic-whatsapp">
                </app-input-group>
            </div>
        </app-card-config>

        
        <app-card-config title="Packing Label" [loading]="loadingData">
            
            <div class="col-lg-12 col-12">
                <app-input-group icon="fa fa-user">
                    <input formControlName="name" type="text" class="form-control" placeholder="Nombre Completo" aria-label="name" aria-describedby="basic-name">
                </app-input-group>
            </div>

            <div class="col-lg-6 col-6">
                <app-input-group icon="fa-regular fa-id-badge">
                    <input formControlName="dni" type="number" step="1" class="form-control" placeholder="DNI" aria-label="dni" aria-describedby="basic-dni">
                </app-input-group>
            </div>

            <div class="col-lg-6 col-6">
                <app-input-group icon="fa-solid fa-mobile-button">
                    <input formControlName="phone" type="number" step="1" class="form-control" placeholder="Celular" aria-label="phone" aria-describedby="basic-phone">
                </app-input-group>
            </div>

            <div class="col-lg-12 col-12">
                <app-input-group icon="fa-solid fa-location-dot">
                    <input formControlName="address" type="text" class="form-control" placeholder="Ciudad" aria-label="ciudad" aria-describedby="basic-ciudad">
                </app-input-group>
            </div>

        </app-card-config>
    
        <app-card-config title="Yape" [loading]="loadingData">
            <div class="col-lg-4">
                <app-upload-option-dropzone name="qr_yape" [image]="form.value.qr_yape" *ngIf="!loadingData"></app-upload-option-dropzone>
            </div>

            <div class="col-lg-8 col-12">

                <div class="row">
                    <div class="col-lg-12 col-12">
                        <app-input-group icon="fa fa-user">
                            <input formControlName="qr_yape_name" type="text" class="form-control" placeholder="Titular del Yape" aria-label="name" aria-describedby="basic-name">
                        </app-input-group>
                    </div>

        
                    <div class="col-lg-12 col-12">
                        <app-input-group icon="fa-solid fa-mobile-button">
                            <input formControlName="qr_yape_phone" type="number" step="1" class="form-control" placeholder="Celular Yape" aria-label="phone" aria-describedby="basic-phone">
                        </app-input-group>
                    </div>
        
                    <div class="col-lg-12 col-12">
                        <app-input-group icon="fa-solid fa-qrcode">
                            <input formControlName="qr_yape_code" type="text" class="form-control" placeholder="Codigo del qr" aria-label="Codigo del qr" aria-describedby="basic-codigo-del-qr">
                        </app-input-group>
                    </div>
        
                </div>

            </div>
        </app-card-config>
    
        <app-card-config title="Yape" [loading]="loadingData">
            <div class="col-lg-4">
                <app-upload-option-dropzone name="qr_plin" [image]="form.value.qr_plin" *ngIf="!loadingData"></app-upload-option-dropzone>
            </div>

            <div class="col-lg-8 col-12">

                <div class="row">
                    <div class="col-lg-12 col-12">
                        <app-input-group icon="fa fa-user">
                            <input formControlName="qr_plin_name" type="text" class="form-control" placeholder="Titular Plin" aria-label="name" aria-describedby="basic-name">
                        </app-input-group>
                    </div>

        
                    <div class="col-lg-12 col-12">
                        <app-input-group icon="fa-solid fa-mobile-button">
                            <input formControlName="qr_plin_phone" type="number" step="1" class="form-control" placeholder="Celular plin" aria-label="phone" aria-describedby="basic-phone">
                        </app-input-group>
                    </div>
        
                    <div class="col-lg-12 col-12">
                        <app-input-group icon="fa-solid fa-qrcode">
                            <input formControlName="qr_plin_code" type="text" class="form-control" placeholder="Codigo del qr plin" aria-label="Codigo del qr" aria-describedby="basic-codigo-del-qr">
                        </app-input-group>
                    </div>
        
                </div>

            </div>
        </app-card-config>

        <button class="btn btn-primary w-100 py-2 d-flex align-items-center justify-content-center" [disabled]="form.invalid || buttonSubmitActive" type="submit">
            <span *ngIf="loadingSubmit" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                <i *ngIf="!loadingSubmit" class="fa-solid fa-lock me-2" style="font-size: 0.9rem;"></i>
            <span>Guardar Cambios</span>
        </button>

    </form>

</div>