<app-header></app-header>


<app-loading-center *ngIf="loading"></app-loading-center>


<div class="container" *ngIf="!loading">
    
    {{ componentName }}

    <div class="controls d-flex justify-content-between mb-3">
        
        <app-bread-crumb [items]="breadCrumbs"></app-bread-crumb>

        <app-button-pdf [order_id]="order.id"></app-button-pdf>

    </div>

    <h6 class="mb-3">Creado: {{ order.created_at | dateCustom }} </h6>

    <div class="row">

        <div class="col-lg-8">

            <app-stepper [order]="order" [warehouse_id]="warehouse_id"></app-stepper>

            <app-address-default [user_id]="order.user_id" [address]="order.shipment.address" title="Direccion de envio" (eventAddress)="selectedAddress($event)"></app-address-default>

            
            <div class="row">
 
                <div class="col-lg-12 col-12">
                    <!-- items -->
                    <app-card-order-item (eventDelete)="elementoEliminado($event)"  [item]="item" *ngFor="let item of order.items"></app-card-order-item>
                </div>
                
                <div class="col-lg-12 col-12">
                    <button class="btn my-3 btn-outline-primary" (click)="open(content)">Agregar Item</button>
                </div>

            </div>

            <app-order-summary [order]="order" [warehouse_id]="warehouse_id" (eventTotalAmount)="totalAmountUpdated($event)" (eventIsPay)="isPayUpdated($event)"></app-order-summary>
            
            <app-izipay [order]="order"></app-izipay>

        </div>
        <div class="col-lg-4">

            <!-- {{ order.shipment.courier_address | json }} -->

            <!-- informacion del courier -->
            <app-courier-default [courier_address]="courier_address" (eventAddress)="selectedCourierAddress($event)" (eventSelectCourier)="selectCourier($event)"></app-courier-default>

            <!-- {{ courier.profile_photo_url }} -->
            <!-- configuracion del envio -->
            <app-shipment-show [shipment]="shipment" [courier]="courier"></app-shipment-show>

        </div>
    </div>

    <!-- <app-payment [order_id]="order.id"></app-payment> -->

</div>

<ng-template #content let-modal>

	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Agregar Color</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<app-input-search-product [order_id]="order.id"></app-input-search-product>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template>



