<div class="spinner-border" *ngIf="loading" role="status">
    <span class="sr-only">Loading...</span>
</div>
<!-- {{ products | json}} -->

<div class="products" *ngFor="let product of products">


    <!-- <div class="card" *ngFor="let product of products">
        <div class="card-body">
            {{ product | json }}
        </div>
    </div> -->

    <div class="color">
        <app-card-product *ngFor="let color of product.colors">

            <img card-image class="card-img-top" [src]="[color.image.url_thumbnail]" alt="Sample Image">
    
            <h5 card-title class="card-title">{{ (product.price[0] != null ? product.price[0].value : 0) | pen }}</h5>
    
            <a card-link [routerLink]="['/' + product.slug]" routerLinkActive="router-link-active"
                class="btn btn-success"><i class="fa-brands fa-whatsapp me-2"></i></a>
    
        </app-card-product>
    </div>

</div>