<div class="text-center my-3">
    <app-loading *ngIf="loading" ></app-loading>
</div>
<!-- {{ products | json}} -->

<div class="products" *ngFor="let product of products">


    <!-- <div class="card" *ngFor="let product of products">
        <div class="card-body">
            {{ product | json }}
        </div>
    </div> -->
    <div class="title">
        <h1 class="mt-3">
            <div class="title">{{ product.name | shortTitle }}</div>
        </h1>
        <div class="price">{{ (product.price[0] != null ? product.price[0].value : 0) | pen }}</div>
    </div>

    <hr>

    <div class="color">
        <app-card-color *ngFor="let color of product.colors" [color]="color"></app-card-color>
    </div>

</div>