

<header>

    <div class="wrap d-flex mx-3 flex-wrap align-items-center justify-content-between justify-content-md-between py-3 mb-3">

        <div class="">

            <app-button-sidebar [name]="user?.name"></app-button-sidebar>
            <app-button-open-canvas-search></app-button-open-canvas-search>

        </div>

        <div class="">

            <!-- <a [routerLinkActive]="['active']" [routerLink]="['/',store,'tracking']" class=" px-2">Tracking</a> -->

            <app-header-middle [store]="store"></app-header-middle>


        </div>

        <div class="">  
            <app-header-bottom class="mb-1 d-block" [store]="store" [estaAutenticado]="estaAutenticado" (statusShowSearch)="changeShowSearch($event)" [user]="user"></app-header-bottom>
        </div>
        
        <!-- d-sm-none mx-auto -->
        <div class="d-block d-none"> 
            
            <!-- <a [routerLinkActive]="['active']" [routerLink]="['/',store,'tracking']" class=" px-2">Tracking</a> -->
            <hr>
            
            <div class="px-auto" *ngIf="estaAutenticado">
                
                <app-header-middle [store]="store"></app-header-middle>
            </div>
            
            
        </div>
        
    </div>
    
</header>

<hr>
<!-- 
<div class="container fade-in" [class.visible]="showSearch">
    <app-form-search></app-form-search>
</div> -->