<div class="table-responsive mb-3">

    <table class="table table-striped table-bordered" style="table-layout: fixed;">

        <tbody>

            <ng-container *ngFor="let order of orders">

                <tr class="{{ status(order).case }}_tr">

                    <!-- id -->

                    <td class="centrar {{ status(order).case }}" style="width: 105px !important;">

                        <h5 class="mb-3" [ngClass]="{'green': order.is_pay }"><strong>{{ order.total_amount | pen
                                }}</strong></h5>

                        <div class="mb-3">
                            <!-- Editar -->
                            <button class="btn btn-outline-dark"
                                [routerLink]="['/', store, 'warehouses', warehouse_id , 'orders', order.id]">
                                #{{ order.id }}
                            </button>
                        </div>

                        <!-- icon estatus -->
                        <!-- <div class="mb-2">
                            <i class="{{ status(order).icon }}"></i>
                        </div> -->

                        <!-- icon estatus -->
                        <div class="mb-2 text-center">

                            <button type="button" class="btn btn-link p-0"
                                (click)="openModal(uploadPaymentCourier, order.id)"
                                aria-label="Abrir comprobantes de envío">
                                <img style="max-width: 75px; max-height: 75px;"
                                    [src]="order.courier_address?.courier.profile_photo_url" alt="Comprobante de envío">
                            </button>

                        </div>

                    </td>

                    <!-- Consignatario -->

                    <td style="width: 300px !important;" class="">

                        <h3 class="badge text-bg-{{ status(order).bg}}">{{ status(order).message}}</h3>

                        @if (order.address != null) {

                        <ul class="address list-group list-group-flush mb-3">
                            <li class="list-group-item">
                                <h5 class="card-title">{{ order.address.name | uppercase }}</h5>

                            </li>
                            <li class="list-group-item">DNI: {{ order.address.dni }}</li>
                            <li class="list-group-item">CEL: {{ order.address.phone }}</li>
                            <!-- <li class="list-group-item"><i class="fa-solid fa-id-badge me-2"></i>{{ order.address.dni }}</li> -->
                            <li class="list-group-item">{{ order.address.primary }}</li>
                            <li class="list-group-item" *ngIf="order.address.secondary">{{ order.address.secondary }}
                            </li>
                            <li class="list-group-item" *ngIf="order.address.references">{{ order.address.references }}
                            </li>
                            <li class="list-group-item">
                                <h6 class="card-subtitle mt-2 text-muted">{{ order.address.district.name }} - {{
                                    order.address.district.province.name }}
                                    - {{ order.address.district.province.department.name }}</h6>
                            </li>
                        </ul>

                        <!-- Botones de wasap -->
                        <div class="controls d-flex justify-content-between mb-3 d-block d-sm-none">
                            <button class="btn btn-success"><i class="fa-brands fa-whatsapp me-2"></i>Wasap</button>
                            <button class="btn btn-primary"><i class="fa-solid fa-phone me-2"></i>Llamar</button>
                            <button class="btn btn-secondary"><i
                                    class="fa-solid fa-diamond-turn-right me-2"></i>Ruta</button>
                        </div>

                        <!-- Botones para imprimir pdf -->
                        <div class="controls w-100 d-block d-sm-none">
                            <app-button-pdf [order_id]="order.id"></app-button-pdf>
                        </div>

                        }@else {
                        <div>TIENDA</div>
                        <div><small class="text-secondary">{{ warehouseName() | uppercase }}</small></div>
                        }

                    </td>

                    <!-- estatus -->

                    <td class="centrar centrar-v" style="width: 325px;">

                        <!-- Botones de wasap -->
                        <div class="controls d-flex justify-content-between d-none d-sm-block">
                            <button class="btn btn-success me-1"><i class="fa-brands fa-whatsapp me-2"></i>Wasap</button>
                            <button class="btn btn-primary me-1"><i class="fa-solid fa-phone me-2"></i>Llamar</button>
                            <button class="btn btn-secondary"><i
                                    class="fa-solid fa-diamond-turn-right me-2"></i>Ruta</button>
                        </div>

                    </td>

                    <td style="width: 175px;" class="centrar centrar-v">
                        <!-- Botones para imprimir pdf -->
                        <div class="controls w-100 d-none d-sm-block">
                            <app-button-pdf [order_id]="order.id"></app-button-pdf>
                        </div>
                    </td>

                    <!-- Fecha de actualizacion -->

                    <td class="centrar centrar-v" style="width: 175px;">{{ order.updated_at | dateCustom }}</td>


                    <!-- <td class="text-center td-init" style="width: 250px"> -->

                    <!-- imagenes -->
                    <!-- <div class="d-flex flex-column align-items-center" style="width: 250px">
                            <div *ngFor="let item of order.items">
                                <div><img height="100px" [src]="item.image.url_thumbnail" alt=""></div>
                                <div>({{ item.content.talla_impresa }})</div>
                            </div>
                        </div> -->


                    <!-- </td> -->

                    <!-- Total a pagar -->



                    <!-- Link online -->
                    <td class="text-center centrar-v">
                        <button class="btn btn-outline-light text-dark" [routerLink]="['/', store, 'orders', order.id]">
                            <i class="fa-solid fa-link"></i>
                        </button>
                    </td>

                </tr>
            </ng-container>


        </tbody>
    </table>
</div>

<!-- 
<div class="table-responsive mb-3">

    <table class="table table-striped table-bordered">

        <tbody>

            <ng-container *ngFor="let order of orders">
                <tr>
                    <td colspan="2">
                        <div class="d-flex justify-content-between p-2">
                            <div class="info">
                                <div>Pedido el: {{ order.created_at | dateCustom }}</div>
                                <div><a href="#" class=""
                                        [routerLink]="['/', store, 'warehouses', warehouse_id , 'orders', order.id]">#{{
                                        order.id }}</a></div>
                            </div>
                            <div>
                                <button class="btn btn-outline-dark"
                                    [routerLink]="['/', store, 'warehouses', warehouse_id , 'orders', order.id]"><i
                                        class="fa-solid fa-ellipsis"></i></button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center td-init" style="width: 250px">

                        <div class="d-flex flex-column align-items-center" style="width: 250px">

                            <div *ngFor="let item of order.items">

    
                                <div><img height="100px" [src]="item.image.url_thumbnail" alt=""></div>
                                <div>({{ item.content.talla_impresa }})</div>
                            </div>
                        </div>


                    </td>
                    <td>


                        <app-card-address *ngIf="order.address_id != null" [address]="order.address"
                            [title]=""></app-card-address>

                        <div class="info d-flex justify-content-between">
                            <h5 class="mb-3">{{ order.total_amount | pen }}</h5>

                            <img style="max-width: 75px; max-height: 75px;" class="mb-3"
                                [src]="order.courier_address?.courier.profile_photo_url" alt="">
                        </div>

                    </td>
                </tr>
            </ng-container>


        </tbody>
    </table>
</div> -->


<ng-template #uploadPaymentCourier let-modal>
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa-solid fa-receipt me-2"></i>Comprobantes de envio</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <!-- type 3 es para comprobantes de envio -->
        <app-payment [type]="3" [order_id]="selectedOrderId"></app-payment>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>