<div class="card mb-3 border-secondary">
    <div class="card-header py-3">
        <h5>Resumen Compra</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let item of items; index as position">
            <div class="item d-flex align-items-center">
                <img height="75px" [src]="item.image" alt="">
                <div class="item-details ms-3">
                    <h6>{{ item.quantity }} x {{ item.price | pen }}</h6>
                    <span class="me-3">Talla: ({{ item.size.name }})</span>
                </div>
            </div>

            <button class="btn btn-danger" (click)="deleteItem(position)">X</button>
        </li>
    </ul>
</div>