<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" style="font-size: 1rem;">Crear Direccion de envio</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <form [formGroup]="form">
            <app-address-form formControlName="address" (formValidity)="formValid($event)" [header]="false" [saving]="saving"></app-address-form>
        </form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        <button class="btn btn-dark"  (click)="addressCreate()" [disabled]="!formChildrenIsValid">Crear Direccion de envio</button>
	</div>
</ng-template>

<button class="btn btn-dark" (click)="openVerticallyCentered(content)"><i class="fa-solid fa-location-dot me-2"></i>Crear</button>
