<div class="card">

    <div class="card-header">
        <ng-content select="[card-header]"></ng-content>
    </div>

    <ng-content select="[card-image]"></ng-content>

    <div class="card-body">

        <ng-content select="[card-title]"></ng-content>
        <ng-content select="[card-text]"></ng-content>
        <ng-content select="[card-link]"></ng-content>
        <!-- <ng-content select="[card-footer]"></ng-content> -->

    </div>

    <!-- Asi se llama al card
    <app-card>
        <img card-image class="card-img-top" src="https://via.placeholder.com/150/150" alt="Sample Image">
        <h5 card-title class="card-title">Card Title</h5>
        <p card-text class="card-text">Some quick example text to build on the card title and make up the bulk of
            the card's content.</p>
        <a card-link href="https://example.com" class="btn btn-primary">Go somewhere</a>
    </app-card> 
    -->

</div>