<div id="stepper1" class="bs-stepper linear mb-3">

    <div class="bs-stepper-header" role="tablist">

        <div class="step" [ngClass]="order?.is_pay ? 'active' : ''">

            <button type="button" class="step-trigger" role="tab" id="stepper1trigger1" aria-selected="true"
                (click)="openUploadVoucher(content)">
                <span class="bs-stepper-circle" style="font-size: 1.25rem;"><i class="fas fa-dollar-sign"></i></span>
                <span class="bs-stepper-label  label-azul  d-none d-sm-block">
                    Pagado
                </span>
            </button>

        </div>
        <div class="bs-stepper-line"></div>

        <div class="step d-flex flex-column text-center" [ngClass]="order?.is_package ? 'active' : ''">

            <button type="button" class="step-trigger" role="tab" id="stepper1trigger1" aria-selected="true" (click)="openUploadPaymentCourier(openUplodPackage)">
                <span class="bs-stepper-circle" style="font-size: 1.25rem;"><i class="fas fa-box-open"></i></span>
                <span class="bs-stepper-label  label-azul  d-none d-sm-block">
                    Package
                </span>
            </button>

        </div>

        <div class="bs-stepper-line"></div>

        <div class="step d-flex flex-column text-center" [ngClass]="order?.is_shipment ? 'active' : ''">

            <button type="button" class="step-trigger" role="tab" id="stepper1trigger1" aria-selected="true" (click)="openUploadPaymentCourier(uploadPaymentCourier)">
                <span class="bs-stepper-circle" style="font-size: 1.25rem;" [ngSwitch]="order.shipment.method">
                    <ng-container *ngSwitchCase="1">
                        <i class="fas fa-shipping-fast"></i>
                    </ng-container>
                
                    <ng-container *ngSwitchCase="2">
                        <i class="fa-solid fa-motorcycle"></i>
                    </ng-container>
                
                    <ng-container *ngSwitchCase="3">
                        <i class="fa-solid fa-plane"></i>
                    </ng-container>
  
                    <ng-container *ngSwitchDefault>
                        Error
                    </ng-container>
                </span>
                
  
            </button>

            <span [ngSwitch]="order.shipment.method">
                <ng-container *ngSwitchCase="1">
                    Estandar
                </ng-container>
            
                <ng-container *ngSwitchCase="2">
                    Express
                </ng-container>
            
                <ng-container *ngSwitchCase="3">
                    Aereo
                </ng-container>

                <ng-container *ngSwitchDefault>
                    Error
                </ng-container>
            </span>
            
            <!-- <span>Express</span> -->

        </div>

        <div class="bs-stepper-line"></div>

        <div class="step" [ngClass]="order?.is_delivery ? 'active' : ''">

            <button type="button" class="step-trigger" role="tab" id="stepper1trigger1" aria-selected="true" (click)="openModal(uploadPhotoDelivery)">
                <span class="bs-stepper-circle" style="font-size: 1.25rem;"><i class="fas fa-check-circle"></i></span>
                <span class="bs-stepper-label  label-azul  d-none d-sm-block">
                    Entregado
                </span>
            </button>

        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa-solid fa-sack-dollar me-2"></i>Pagos recibidos</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <app-payment [order_id]="order.id"></app-payment>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>


<ng-template #uploadPaymentCourier let-modal>
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa-solid fa-receipt me-2"></i>Comprobantes de envio</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <!-- type 3 es para comprobantes de envio -->
        <app-payment [type]="3" [order_id]="order.id"></app-payment>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #openUplodPackage let-modal>

    <div class="modal-header">
        <h4 class="modal-title"><i class="fas fa-box-open me-2"></i>Fotos de empaque</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-order-photo [order_id]="order.id"></app-order-photo>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>

</ng-template>

<ng-template #uploadPhotoDelivery let-modal>

    <div class="modal-header">
        <h4 class="modal-title"><i class="fas fa-box-open me-2"></i>Fotos de entrega</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-order-photo [order_id]="order.id"></app-order-photo>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>

</ng-template>