<div class="contenedor">
    <div class="selectbox mb-3">
        <div [ngClass]="{'active': isOptionsVisible, 'border-danger': error}" class="select p-3" (click)="toggleOptions()">
            <div class="contenido-select d-flex align-items-center">
                <h2 class="titulo my-0 contenido-opcion d-flex align-items-center">
                    @if(icon){
                        <i [class]="icon + ' icon-select'"></i>
                    }@else {
                        <i class="fas fa-question-circle mr-3 icon-select"></i>
                    }
                    <span class="ms-3">{{ title }}</span>
                </h2>
            </div>
            <i class="fas fa-angle-down"></i>
        </div>

        <div class="opciones px-3" [ngClass]="{'active': isOptionsVisible}">

            <a *ngFor="let option of options" class="opcion px-3" (click)="selectOption(option)">
                <div class="contenido-opcion py-2 d-flex align-items-center">
                    @if(option.icon){
                        <i [class]="option.icon + ' mr-3 ps-3 icon-select'"></i>
                    }@else {
                        <img [src]="option.profile_photo_path" alt="">
                    }
                    <div class="textos">
                        <h3 class="titulo my-0 ms-3">{{ option.name }}</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
