<div class="contenedor">
    <div class="selectbox mb-3">
        <div [ngClass]="{'active': isOptionsVisible, 'border-danger': error}" class="select p-3" (click)="toggleOptions()">
            <div class="contenido-select d-flex align-items-center">
                <h2 class="titulo my-0 contenido-opcion d-flex align-items-center" [ngStyle]="selectedOption.rgb != '' ? { color:selectedOption.rgb } : null">
                    @if(icon){
                        <i [class]="icon + ' icon-select'"></i>
                    }@else {
                            @if(selectedOption.profile_photo_url){
                                <img style="max-width: 100px; max-height: 100px;" [src]="selectedOption.profile_photo_url" alt="">
                            }@else {

                                <i class="fas fa-question-circle mr-3 icon-select"></i>
                            }
                    }
                    <span class="ms-3">{{ title }}</span>
                </h2>
            </div>
            <i class="fas fa-angle-down"></i>
        </div>

        <div class="opciones px-3" [ngClass]="{'active': isOptionsVisible}">

            <a *ngFor="let option of options" class="opcion" (click)="selectOption(option)" [ngStyle]="option.rgb != '' ? { color:option.rgb } : null" >
                <div class="contenido-opcion p-3 d-flex align-items-center">
                    @if(option.icon != undefined){ 
                        <i [class]="option.icon + ' mr-3 ps-3 icon-select'"></i>
                    }@else {
                        <img style="max-width: 100px; max-height: 100px;" [src]="option.profile_photo_url" alt="">
                    }
                    <div class="textos">
                        <h3 class="titulo my-0 ms-3">{{ option.name }}</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>