<main class="form-signin m-auto text-center d-flex align-items-center justify-content-center">
  
  <form>

    <app-logo></app-logo>

    <div class="form-floating mt-3">
      <input type="text" class="form-control name" id="floatingInputName" placeholder="Nombre completo">
      <label for="floatingInputName">Nombre</label>
    </div>

    <div class="form-floating">
      <input type="email" class="form-control email" id="floatingInputEmail" placeholder="name@example.com">
      <label for="floatingInputEmail">Email</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control password" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="form-floating mb-3">
      <input type="password" class="form-control repassword" id="floatingRePassword" placeholder="Re Password">
      <label for="floatingRePassword">Re Password</label>
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2011–2024</p>

  </form>

</main>