<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvas-basic-title"><i class="fa-solid fa-user me-3"></i>{{ name | firstName }}</h5>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">

        <div class="menu" *ngFor="let menu of menus">
            <div class="name p-3">{{ menu.name }}</div>
            <div class="submenu" *ngFor="let children of menu.childrens">
                <a class="p-3 d-block" (click)="redirect(children.url)"><i class="{{ children.icon }} me-2"></i> {{ children.name }}</a>
            </div>
        </div>

        <div class="menu logout">
            <hr>
            <a class="p-3 d-block" (click)="logout()"><i class="fa-solid fa-right-from-bracket me-2"></i> Salir</a>
        </div>

	</div>
</ng-template>

<button class="btn btn-outline-dark me-2" (click)="openCanvas(content)"><i class="fa-solid fa-bars mx-2"></i></button>