<div class="card">

    
    <img class="card-img-top" [src]="[color.image?.url_thumbnail]" alt="Sample Image">

    <div class="card-body text-center">

        <a href="https://api.whatsapp.com/send?phone=51945101774" target="_blank" rel="noopener noreferrer"
            class="btn btn-success"><i class="fa-brands fa-whatsapp"></i></a>

    </div>

</div>
<!-- https://api.whatsapp.com/send?phone=51945101774&text=Hola%2C%20mira%20esta%20imagen%20genial%3A%20%0A%0Ahttps%3A%2F%2Fpicsum.photos%2F200%2F300 -->


<!-- <h5 class="card-title">{{ (color.price[0] != null ? color.price[0].value : 0) | pen }}</h5> -->