<div class="text-center my-3">

    <!-- <app-loading *ngIf="loading"></app-loading> -->

    <!-- <div class="waiting my-3" *ngIf="loading">Espere...</div> -->

    <div class="color" *ngIf="loading">
        <app-card-place-holder></app-card-place-holder>
        <app-card-place-holder></app-card-place-holder>
        <app-card-place-holder></app-card-place-holder>
        <app-card-place-holder></app-card-place-holder>
        <app-card-place-holder></app-card-place-holder>
        <app-card-place-holder></app-card-place-holder>
        <app-card-place-holder></app-card-place-holder>
        <app-card-place-holder></app-card-place-holder>
        <app-card-place-holder></app-card-place-holder>
        <app-card-place-holder></app-card-place-holder>
        <app-card-place-holder></app-card-place-holder>
        <app-card-place-holder></app-card-place-holder>
    </div>

</div>

<section *ngIf="!loading && productsEncontrados; else noProducts" class="fade-in"
    [class.visible]="!loading && productsEncontrados">

    <!-- {{ products | json }} -->

    <div class="products" *ngFor="let product of products">

        <section *ngIf="product.sku.quantity">

            <!-- {{ product.sku_quantity | json }} -->

            <div class="title">
                <h1 class="mt-3">
                    <div class="title">{{ product.name | shortTitle }}</div>
                </h1>
                <!-- <div class="price">{{ (product.price[0] != null ? product.price[0].value : 0) | pen }}</div> -->
            </div>

            <hr>

            <div class="colors">
                <ng-container  *ngFor="let color of product.colors">
                    <!-- {{ color.image.url_thumbnail | json}} -->
                    <app-card-color *ngIf="color.sku?.quantity" [color]="color" [phone]="phone"
                    [precio]="product.price ? product.price.value : 0"></app-card-color>
                </ng-container>
            </div>
            
        </section>

    </div>

</section>

<ng-template #noProducts>
    <!-- Contenido que se muestra cuando no hay productos -->
    <!-- <p>No se encontraron productos.</p> -->
</ng-template>