.products{
    font-size: 0.75rem;
}

h5{
    font-size: 1.1rem;
}

@media (min-width: 800px) and (max-width: 1367px) {
    .products{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, minmax(10rem, 1fr)); /* 1 fr quiere decir una fraccion */
    }
}

@media (min-width: 1368px){
    .products{
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, minmax(10rem, 1fr)); /* 1 fr quiere decir una fraccion */
    }
}