<app-header></app-header>

<app-loading-center *ngIf="loading"></app-loading-center>

<div class="container" *ngIf="!loading">

  <app-button-product-create-modal>Crear Producto</app-button-product-create-modal>

  <!-- <div class="d-flex  flex-row-reverse mb-3" [routerLink]="['/',store, 'auth', 'products', 'create']"><button class="btn btn-dark">Crear Producto</button></div> -->

  <app-products-table [products]="products"></app-products-table>
  
  <!-- <div class="products">
    <app-product [product]="product" *ngFor="let product of products"></app-product>
  </div> -->

</div>