swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add{
  border: 2px dashed #61d800;
  height: 100px;
  width: 100px;
}

.gallery{
  height: 300px;
  width: 300px;
}

.mySwiper{
  height: 150px;
}