{{ componentName }}
<div class="text-center">

    <!-- <app-dropzone-payment  name="payment" [slug]="'orders/' + order_id + '/payments/create'" class="mx-3" (eventAddFile)="dropzoneValid($event)" (eventUpload)="addPayment($event)" (eventComplete)="formStatus($event)" #dropzone></app-dropzone-payment> -->

    <ng-template #template> Agregar imagenes</ng-template>
    <!-- Disponible: {{ product.sku.quantity }} -->

    <!-- {{ product.images.length }} -->
    <app-dropzone name="Imagenes" [maxFiles]="10" [autoProcess]="true" [slug]="'products/'+  product.id +'/images/create'"  (eventUpload)="imageUpload($event)" (eventComplete)="imageUploadStatus($event)" #dropzone></app-dropzone>


    <swiper-container 
    
    class="mySwiper" 
    pagination="true" 
    pagination-clickable="true" 
    space-between="30"
    slides-per-view="6" 
    *ngIf="product.images?.length > 0; else template"
    [breakpoints]="breakpoints"
    >
    
        <!-- <swiper-slide><div class="add"></div></swiper-slide> -->
        
        <swiper-slide *ngFor="let image of product.images"><a href="#"><img [src]="image.url_thumbnail" alt=""></a></swiper-slide>

    </swiper-container>

    

</div>