<div class="search mb-3">
    <form class="d-flex">
        <input class="form-control px-3 my-1 py-2 me-2" [(ngModel)]="search" (keyup)="keyUpSearch($event)" name="search" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn" [disabled]="search ? false : true"  [ngClass]="{'btn-dark': search, 'btn-secondary': !search}" (click)="clickSearch($event)">
            <span *ngIf="!iconLoading">Buscar</span>
            <app-loading *ngIf="iconLoading"></app-loading>
        </button>
    </form>
</div>