<app-header></app-header>

<app-loading-center *ngIf="loading"></app-loading-center>

<div class="container">
    <div class="d-flex justify-content-between mb-3">
        <app-bread-crumb [items]="breadCrumbs"></app-bread-crumb>
        <app-button-order-create-punto-venta></app-button-order-create-punto-venta>
    </div>
    
</div>

<div class="container" *ngIf="!loading">

    <!-- <app-stepper></app-stepper> -->
    <!-- {{ orders | json }} -->

    
    <app-table-order-index [orders]="orders" [store]="store" [warehouse_id]="warehouse_id"></app-table-order-index>

    @if (false) {

        <div ngbAccordion>

            <div ngbAccordionItem [collapsed]="seleccionado != 'hoy'">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton class="bg bg-secondary text-white" (click)="selected('hoy')"><i class="fa-solid fa-bars me-2"></i>Entregas Hoy</button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            <app-table-order-index [orders]="orders" [store]="store" [warehouse_id]="warehouse_id"></app-table-order-index>
                        </ng-template>
                    </div>
                </div>
            </div>
        
            <div ngbAccordionItem [collapsed]="seleccionado != 'pagados'">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton class="bg bg-success text-white" (click)="selected('pagados')"><i class="fa-solid fa-bars me-2"></i>Pagados</button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            <app-table-order-index></app-table-order-index>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div ngbAccordionItem [collapsed]="seleccionado != 'pendiente_pago'">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton class="bg bg-dark text-white" (click)="selected('pendiente_pago')"><i class="fa-solid fa-bars me-2"></i>Pendientes de Pago</button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            <app-table-order-index></app-table-order-index>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div ngbAccordionItem [collapsed]="seleccionado != 'pendientes_entrega'">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton class="bg bg-warning text-white" (click)="selected('pendientes_entrega')"><i class="fa-solid fa-bars me-2"></i>Pendientes de entrega (Pagados)</button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            <app-table-order-index></app-table-order-index>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

        <!-- <app-order-index-accordion bg="success" title="Pagados" [collapsed]="collpase != 'second'"></app-order-index-accordion>

        <app-order-index-accordion bg="dark" title="Pendientes de Pago" [collapsed]="collpase != 'third'"></app-order-index-accordion>
        
        <app-order-index-accordion bg="warning" title="Pendientes de entrega (Pagados)" [collapsed]="collpase != 'four'"></app-order-index-accordion> -->

        <!-- <app-card-row-order *ngFor="let order of orders" [order]="order" [warehouse_id]="warehouse_id" [store]="store"></app-card-row-order> -->
<!-- 
    <div class="table-responsive mb-3">

        <table class="table table-striped table-bordered">

            <tbody>

                <ng-container *ngFor="let order of orders">
                    <tr>
                        <td colspan="2">
                            <div class="d-flex justify-content-between p-2">
                                <div class="info">
                                    <div>Pedido el: {{ order.created_at | dateCustom }}</div>
                                    <div><a href="#" class=""
                                            [routerLink]="['/', store, 'warehouses', warehouse_id , 'orders', order.id]">#{{
                                            order.id }}</a></div>
                                </div>
                                <div>
                                    <button class="btn btn-outline-dark"
                                        [routerLink]="['/', store, 'warehouses', warehouse_id , 'orders', order.id]"><i
                                            class="fa-solid fa-ellipsis"></i></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center td-init" style="width: 250px">

                            <div class="d-flex flex-column align-items-center" style="width: 250px">

                                <div *ngFor="let item of order.items">

        
                                    <div><img height="100px" [src]="item.image.url_thumbnail" alt=""></div>
                                    <div>({{ item.content.talla_impresa }})</div>
                                </div>
                            </div>


                        </td>
                        <td>


                            <app-card-address *ngIf="order.address_id != null" [address]="order.address"
                                [title]=""></app-card-address>

                            <div class="info d-flex justify-content-between">
                                <h5 class="mb-3">{{ order.total_amount | pen }}</h5>

                                <img style="max-width: 75px; max-height: 75px;" class="mb-3"
                                    [src]="order.courier_address?.courier.profile_photo_url" alt="">
                            </div>

                        </td>
                    </tr>
                </ng-container>


            </tbody>
        </table>
    </div> -->

    }@else {
    <ngb-alert class="mb-3"> No hay ordenes de compra </ngb-alert>
    }


</div>