<app-loading-center *ngIf="loading" />

<form [formGroup]="form" (ngSubmit)="save()" *ngIf="!loading">
        
    <div class="row mb-3">
        
        <div class="col-lg-12">
            <app-input-group icon="fa-regular fa-pen-to-square">
                <input formControlName="name" type="text" class="form-control"
                    placeholder="Name" aria-label="tiktok"
                    aria-describedby="basic-tiktok">
            </app-input-group>
        </div>

        <div class="col-lg-12 col-12">
            <textarea id="" formControlName="body" class="form-control"
                placeholder="Descripcion"></textarea>
        </div>
    </div>


    <app-button-save type="primary" [btnLoading]="loadingEdit"
        [btnActive]="form.valid"></app-button-save>

</form>