<div class="accordion-item mb-3">
    
    <h2 class="accordion-header" id="flush-heading-{{ item.id }}">
        <button class="accordion-button collapsed p-3" type="button" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#flush-collapse-' + item.id" aria-expanded="false"
            [attr.aria-controls]="'flush-collapse-' + item.id">
            {{ item.title }}
        </button>
    </h2>

    <div id="flush-collapse-{{ item.id }}" class="accordion-collapse"
        [attr.aria-labelledby]="'flush-heading-' + item.id" [attr.data-bs-parent]="'#' + item.base">

        <div class="accordion-body">
            <ng-content></ng-content>
        </div>
    </div>

</div>