<div class="gallery mb-3">
    <ng-container *ngFor="let color of colors">
        <a class="card" *ngIf="color.sku.quantity > 0" 
           [routerLink]="['/', store, 'products', color.product_id, 'colors', color.id]" 
           routerLinkActive="active" 
           [routerLinkActiveOptions]="{ exact: true }">
            <div class="card-body text-center p-2">
                <img height="75px" width="50px" [src]="color.image?.url_thumbnail" alt="...">
            </div>
        </a>
    </ng-container>
</div>