<app-header></app-header>

<div class="container">

    <form [formGroup]="form" (ngSubmit)="save()">

        <div class="row">
            <div class="col-lg-7 col-md-12 col-l2">

                <app-address-form *ngIf="!is_auth" formControlName="address"
                    (formValidity)="formValid($event)"></app-address-form>
                <!-- <app-checkout *ngIf="!is_auth"></app-checkout> -->
                <!-- <app-checkout *ngIf="!is_auth"></app-checkout> -->
                <app-checkout-auth *ngIf="is_auth"></app-checkout-auth>
            </div>
            <div class="col-lg-5 col-md-12 col-l2">

                <app-cart></app-cart>
                <app-summary></app-summary>

                <button class="btn btn-dark w-100" [disabled]="!formChildrenIsValid">Realizar Pedido</button>
            </div>
        </div>

    </form>

</div>