<!-- Size -->
<form [formGroup]="sizeForm">

    <app-input-group icontext="{{ size.name | shortNameSize }}">
    
      <input type="text" formControlName="quantity" style="width: 100px;" step="1" class="form-control" (keyup)="updateKeyupStock($event)" placeholder="0" aria-label="Tallas" onclick="this.select()"
      aria-describedby="basic-Tallas">
  
      <div class="loading" *ngIf="loading">
          <app-loading size="sm"></app-loading>
      </div>
    
    </app-input-group>
    <!-- {{ sizeForm.value | json }} -->
    
</form>