<div class="description mb-3">
    <h3>Denim midi skirt with pockets</h3>

    <p>
        Made from high-quality denim fabric, this midi skirt offers durability and comfort for all-day wear. The
        mid-length design strikes the perfect balance between casual and chic, making it suitable for various occasions,
        from casual outings to semi-formal events.
    </p>

    <div class="price d-flex align-items-end">
        <h4>S/. 129.95</h4><small class="text-decoration-line-through ms-2 mb-2">S/.179.95</small>
    </div>
</div>