<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvas-basic-title"><i class="fa-solid fa-bag-shopping me-2"></i>Mi bolso</h5>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">

		<app-cart></app-cart>

		<app-summary></app-summary>

		<!-- {{ items | json }} -->
		<div class="text-end mb-3">
			<!-- <button type="button" class="btn btn-outline-secondary" (click)="offcanvas.close('Save click')">Save</button> -->
			<button type="button" (click)="realizarPedido()" routerLinkActive="router-link-active"  class="btn btn-dark"><i class="fa-solid fa-credit-card me-2"></i> Realizar pedido</button>
		</div>
	</div>
</ng-template>

<button class="btn btn-outline-dark me-2" (click)="openCanvas(content)" [disabled]="count <= 0"><i class="fa-solid fa-bag-shopping"></i></button>