<div class="controls d-flex justify-content-between mb-3">
    <app-dropdown-inventory [product_id]="product.id"></app-dropdown-inventory>
    <div>
        <button class="btn btn-outline-dark me-2" (click)="openTop(contentFilters)"><i
                class="fa-solid fa-filter"></i></button>
        <button class="btn btn-outline-dark" (click)="openVerticallyCentered(contentModal)">
            <i class="fa-solid fa-camera"></i> Agregar
        </button>
    </div>

</div>

{{ componentName }}

<div class="controls d-flex justify-content-between mb-3 align-items-center">

    <div class="controls-left d-flex">

        <!-- boton de filtro -->

        <!-- boton para subir colores -->
        <!-- <app-button-product-report [product]="product"></app-button-product-report> -->

    </div>

    
    <!-- <button type="button" class="btn btn-outline-dark"
        [routerLink]="['/', store, 'auth', 'products',product.id]"><i class="fa-solid fa-bars mx-1"></i></button> -->
</div>

<!-- modal -->

<ng-template #contentModal let-modal>
    <div class="modal-header">
        <h6 class="modal-title"><i class="fa-solid fa-camera me-2"></i> Agregar colores</h6>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-upload-dropzone-color (completedUpload)="uploadFinish()" [productId]="product.id" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<!-- canvas -->

<ng-template #contentFilters let-offcanvas>
    <div class="offcanvas-header">
        <h4 class="offcanvas-title"><i class="fa-solid fa-filter"></i></h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <div class="offcanvas-body">

        <div class="form-check form-switch d-flex align-items-center mb-3">
            <input type="checkbox" class="form-check-input" [checked]="colorsActive"
                (change)="colorsActiveToggle($event)" />
            <label class="form-check-label ms-2">{{ colorsActive ? 'Colores Activos' : 'Colores Inactivos' }}</label>
        </div>

        <div class="input-group mb-3">
            <input [(ngModel)]="searchTerm" (input)="filterItems()" type="text" class="form-control"
                placeholder="Filtrar color" aria-label="filtrar color" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" (click)="deleteSearch()" type="button" id="button-addon2"><i
                    class="fa-solid fa-x"></i></button>
        </div>

        <p *ngIf="colorsFilter.length>0">{{ colorsFilter.length }} color(es) encontrado(s)</p>

    </div>
</ng-template>

<!-- REPORTES COSTO TOTAL, POR MAYOR Y MENOR -->

<!-- <ng-template #contentReport let-modal>

    <div class="modal-header">
        <h6 class="modal-title"><i class="fa-solid fa-chart-column me-2"></i> Reportes</h6>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <app-report-inventory [product]="product"></app-report-inventory>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
    
</ng-template> -->

<!-- <h5 class="mb-3 title">{{ product.name }} - {{ totalQuantityProduct }}</h5> -->

@switch (product.have) {

@case ('ColorSize') {

<app-loading-center *ngIf="loading"></app-loading-center>

<ng-container *ngIf="!loading">

    @if (colorsFilter.length > 0) {

    <app-inventory-color-size (quantityColorUpdated)="updateProductColor($event)" [warehouse_id]="warehouse_id"
        [color]="color" *ngFor="let color of colorsFilter"></app-inventory-color-size>

    }@else {
    <div class="text-center">
        @if (colorsActive) {
        Sin colores Activos que mostrar
        }@else {
        No hay colores desactivados
        }
    </div>
    }

</ng-container>

}

@case ('Size') {
Size
}
@case ('Color') {
Color
}
@case ('Product') {
Product
}

@default {
<p>No se ha podido cargr la relacion del producto have_color o have_size</p>
}
}