
<div ngbDropdown class="d-inline-block">

    <button type="button" class="btn btn-dark mb-3 me-2 d-flex align-items-center" id="dropdownBasic1"
        ngbDropdownToggle>
        <i class="fa-solid fa-plus me-2"></i> Registrar Pedido
    </button>

    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="w-100">
        <!-- <app-button-order-create-online></app-button-order-create-online> -->
        <!-- <app-button-order-create-punto-venta></app-button-order-create-punto-venta> -->
        <hr>
        <!-- <app-button-order-create-punto-venta></app-button-order-create-punto-venta> -->
    </div>
</div>