<form [formGroup]="sizeForm">

<app-input-group icontext="{{ size.name | shortNameSize }}">


    <ng-container formGroupName="pivot">
        <!-- <input type="text" formControlName="name" step="1" class="form-control" placeholder="0" aria-label="Tallas"
        aria-describedby="basic-Tallas"> -->
    
        <input type="text" formControlName="quantity" step="1" class="form-control" placeholder="0" aria-label="Tallas"
        aria-describedby="basic-Tallas">
    
    </ng-container>


</app-input-group>
{{ sizeForm.value | json }}

</form>