<app-header></app-header>

<app-loading-center *ngIf="loading"></app-loading-center>

<div class="container" *ngIf="!loading">

  <!-- breadcrumb -->
  <app-bread-crumb [items]="breadCrumbs"></app-bread-crumb>

  <!-- Dropdown de navegacion -->
  <div class="mb-3 d-flex justify-content-between">
    <app-dropdown-inventory [product_id]="product.id"></app-dropdown-inventory>
    <app-dropdown-colors [store]="store" [product_id]="product.id"></app-dropdown-colors>
  </div>

  <!-- upload de color -->
  <app-upload-dropzone-color [productId]="product.id" />

  <!-- caja de busqueda -->

  <!-- {{ searchTerm }} -->
  <div class="input-group mb-3">
    <input 
    [(ngModel)]="searchTerm" 
    (input)="filterItems()" 
    type="text" class="form-control" placeholder="Filtrar color" aria-label="filtrar color" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" (click)="deleteSearch()" type="button" id="button-addon2"><i class="fa-solid fa-x"></i></button>
  </div>

  <!-- muestra la cantidad de colores disponibles -->
  <div class="text-center">
    <h5>{{ product.colors.length }}</h5>
  </div>

  <!-- Lista los colores Activos del producto -->
  <app-product-color [color]="color" *ngFor="let color of colorsFilter"></app-product-color>

</div>