<app-header></app-header>

<div class="container">
    
    <div class="text-center mb-3">
      <app-loading size="xl" *ngIf="loading"></app-loading>
    </div>

    <table *ngIf="!loading" class="table table-striped table-hover">
        <thead>
            <tr class="">
              <th scope="col">#</th>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">stock</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>
                
                <a [routerLink]="['/', store, 'auth', 'inventory',product.id]">
                  <div class="card" style="width: 150px;">
                    <img [src]="product.image.url_thumbnail" alt="">
                  </div>
                </a>
              </td>
                <td scope="row">{{ product.name }}</td>
                <td>Otto</td>
                <td>mdo</td>
              </tr>
          </tbody>
      </table>
</div>

<!-- <app-footer></app-footer> -->