<app-header></app-header>

<app-loading-center *ngIf="loading"></app-loading-center>

<div class="container" *ngIf="!loading">

    <strong *ngIf="componentName">Page: {{ componentName }}</strong>

    <!-- <div class="times d-flex justify-content-between mb-3">
        <div class="created">
            <time [attr.datetime]="product.created_at | date: 'yyyy-MM-ddTHH:mm:ss'">
                {{ product.created_at | date: 'dd/MM/yyyy, h:mm a' }}
            </time>
        </div>
        <div class="updated">
            <strong>
                <time [attr.datetime]="product.updated_at | date: 'yyyy-MM-ddTHH:mm:ss'">
                    {{ product.updated_at | date: 'dd/MM/yyyy, h:mm a' }}
                </time>
            </strong>
        </div>
    </div> -->

    <div class="controls">

        <app-bread-crumb [items]="breadCrumbs"></app-bread-crumb>

        <div class="controls d-flex justify-content-between">
            <!-- <app-button-product-report [product]="product"></app-button-product-report> -->
            <!-- <app-dropdown-inventory [product_id]="product.id" class="me-2"></app-dropdown-inventory> -->
            <app-button-product-report [product]="product" ></app-button-product-report>
            <app-button-product-create-modal>Crear Producto</app-button-product-create-modal>
        </div>

    </div>

    <hr>

    <div class="cards">
        <app-product-card-cost [product]="product" [height]="120"></app-product-card-cost>
    </div>
    <!-- inicio de acordion -->

    <div ngbAccordion class="mb-3" [closeOthers]="true">

        <div ngbAccordionItem [collapsed]="false" (click)="selected(1)">

            <h2 ngbAccordionHeader>

                <button ngbAccordionButton>
                    <div class="py-1" style="font-size: 1.1rem;">
                        <i class="fa-solid fa-boxes-stacked me-2"></i>
                        <span>Colores e Inventario</span>
                    </div>
                </button>

            </h2>

            <div ngbAccordionCollapse>
                <div ngbAccordionBody class="bg-body-secondary">
                    <ng-template>
                        <app-product-warehouse></app-product-warehouse>
                    </ng-template>
                </div>
            </div>

        </div>

        <!-- 
        <div ngbAccordionItem (click)="selected(2)">

            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                    <div class="py-1" style="font-size: 1.1rem;">
                        <i class="fa-regular fa-image me-2"></i>
                        <span>Galeria</span>
                    </div>
                </button>
            </h2>

            <div ngbAccordionCollapse>
                <div ngbAccordionBody class="bg-body-secondary">
                    <app-product-gallery [product]="product"></app-product-gallery>
                </div>
            </div>

        </div> 
        -->

        <div ngbAccordionItem (click)="selected(2)">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                    <div class="py-1" style="font-size: 1.1rem;">
                        <i class="fa-solid fa-sack-dollar me-2"></i>
                        <span>Precios</span>
                    </div>
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody class="bg-body-secondary">
                    <ng-template>
                        <app-product-prices [prices]="product.prices" [product_id]="product.id"></app-product-prices>
                    </ng-template>
                </div>
            </div>
        </div>

        <div ngbAccordionItem (click)="selected(3)">

            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>

                    <div class="py-1" style="font-size: 1.1rem;">
                        <i class="fa-solid fa-circle-info me-2"></i>
                        <span>Descripcion</span>
                    </div>

                </button>
            </h2>

            <div ngbAccordionCollapse>
                <div ngbAccordionBody class="bg-body-secondary">
                    <ng-template>
                        <app-product-edit [product]="product" [loading]="loading"></app-product-edit>
                    </ng-template>
                </div>
            </div>
        </div>




 


    </div>

    <!-- fin de acordion -->


    <!-- <div class="card">
        <div class="card-body">

        </div>
    </div> -->

    <!-- <app-chart-bar-orders></app-chart-bar-orders> -->

    <!-- <div class="card mb-3 custom-card">

        <div class="card-body">


        </div>
    </div> -->


    <!-- <app-dropdown-inventory [product_id]="product.id"></app-dropdown-inventory> -->



</div>