.custom-card {
    border: 2px solid #007bff; /* Cambia el color y el grosor según sea necesario */
    border-radius: 0.25rem; /* Cambia el radio según sea necesario */
  }

.accordion {
    --bs-accordion-border-color: #a8a8a8; /* Personalización del color del borde */
}

.times{
  font-size: 0.75rem;
}

.form-check-input {
  width: 1.5rem; /* Ajusta el ancho */
  height: 1.5rem; /* Ajusta la altura */
}

/* .container{
  font-size: 0.75rem;
} */

/* Personaliza el ícono */
.accordion-button:not(.collapsed){
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.accordion-button:focus {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

