<div class="card text-bg-{{ type }} mb-3" [style.min-height.px]="height">

    <div class="card-header text-center d-flex justify-content-between align-items-center py-0 pe-0">
        <span>{{ title }}</span>
        <button class="btn my-0" (click)="openVerticallyCentered(content)"><i
                class="fa-solid fa-ellipsis-vertical"></i></button>
    </div>

    <div class="card-body py-0 d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h3>{{ (price.value != null) ? price.value : 0 | pen }}</h3>
            <small class="mb-3">{{ ( ( price.value != null ) ? price.value : 0 ) * stock | pen }}</small>

            <!-- <small class="mb-3">{{ quantity }} x {{ amount | pen }}</small>
            <h3>{{ totalAmount | pen }}</h3> -->
        </div>
    </div>

</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h6 class="modal-title"><i class="fa-solid fa-dollar-sign"></i> {{ title }}</h6>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <form action="" (ngSubmit)="save()" >
            <app-input-group icontext="S/.">
                <input type="number" onclick="this.select();" class="form-control" [(ngModel)]="amount" name="amount" placeholder="0.00" />
            </app-input-group>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        <app-button-save [btnLoading]="btnLoading" [btnActive]="btnActive" (click)="save()">Guardar</app-button-save>
    </div>
</ng-template>