<div class="card mb-3">

    <div class="card-header">
        <div class="d-flex justify-content-between">
            <a  [routerLink]="['/', store, 'auth', 'products',product.id]">{{ product.name }}</a>
            <span>{{ quantityGlobalProduct }}</span>
        </div>
    </div>

    <div class="card-body d-flex justify-content-between text-center">
        <div class="image">
            <a [routerLink]="['/', store, 'auth', 'products', product.id]">
                <img width="100%"
                    [src]="product.image?.url_thumbnail" 
                    [alt]="'Imagen de ' + product.name || 'Producto sin nombre'" 
                    class="product-thumbnail"
                >
            </a>
        </div>
    </div>

    <div class="card-footer">

    </div>
    
</div>