<div class="card mb-3">
    <div class="header"></div>
    <div class="body d-flex m-3">
        <div class="image">
            <a [routerLink]="['/', store, 'auth', 'products',product.id]">
                <div class="card" style="width: 150px;">
                  <img [src]="product.image?.url_thumbnail" alt="">
                </div>
            </a>
        </div>
        <div class="controls d-flex justify-content-between w-100">
            <div class="title ms-3">
                <h3 class="title">{{ product.name }}</h3>
                <span>{{ quantityGlobalProduct }}</span>
            </div>
            <app-button-inventory [product_id]="product.id"></app-button-inventory>
        </div>
    </div>
</div>