<div class="controls d-flex justify-content-between align-items-center">


  <a data-fancybox="gallery" [attr.data-caption]="image.name" [href]="image.url_medium" class="d-block mb-3 image-thumb">
    <img width="100px" [src]="image.url_thumbnail" alt="">
  </a>
    

    <app-dropdown-download-images [image]="image"></app-dropdown-download-images>

    <button class="btn btn-danger" (click)="deleleImage(image.id)">
      <i class="fa-solid fa-x" *ngIf="!loadingDelete"></i>
      <app-loading *ngIf="loadingDelete" [size]="'sm'" [color]="'light'"></app-loading>
    </button>
    
  </div>