<div class="card mb-3">
    <div class="card-body">

        <div class="row">

            <div class="col-lg-4 col-md-4 col-12">
                <div class="image mb-3 text-center">
                    <img height="150px" [src]="color.image?.url_thumbnail" alt="">
                    <!-- <div> {{color.id}}</div> -->
                     <h5 class="text-center"> {{ color.sku?.quantity}}</h5>
                </div>
            </div>

            <div class="col-lg-8 col-md-4 col-12">

                <div class="row">

                    <div class="col-lg-6 col-12">
                        <div class="size mx-auto" style="width: 50%;">
                            <!-- {{ color.sku | json }} -->
                           
                            <!-- <app-product-color-size [size]="size" *ngFor="let size of color.sizes"></app-product-color-size> -->
                        </div>
                    </div>

                    <div class="col-lg-6 col-12">
                        <form [formGroup]="form" (ngSubmit)="save()">
            
                            <!-- {{ form.value | json}} -->
            
                            <app-button-switch formControlName="status" [id]="'color-status-switch'" />
            
                            <app-input-group>
                                <input formControlName="name" type="text" class="form-control" placeholder="Name" aria-label="name"
                                    aria-describedby="basic-name">
                            </app-input-group>
            
                            <!-- Este boton es del tipo submit por lo que se necestia encerrarlo en un formulario -->
                            <!-- <app-button-save [btnActive]="form.valid" type="dark" /> -->
                            <app-button-save [btnLoading]="loading" [btnActive]="form.valid" type="dark"></app-button-save>
                        </form>
                    </div>
                    
                </div>

            </div>

        </div>




    </div>
</div>