<li class="list-group-item d-flex justify-content-between align-items-center">
    <figure class="image me-3">
        <img height="75px"
            [src]="image" alt="">
    </figure>
    <div class="description w-100">
        <div> {{ quantity }}</div>
        <div><strong>Talla:</strong> {{ size }}</div>
    </div>
    <div class="control ms-3">
        <button class="btn btn-danger" (click)="eliminarItem(item_id)" aria-label="Eliminar producto">X</button>
        <!-- Texto más accesible -->

    </div>
</li>