<app-header></app-header>

<div class="container">

    <app-stepper></app-stepper>

    <div class="row mt-3">

        <div class="col-lg-6 col-md-6 col-sm-6 col-12">

            <app-card>
                <!-- <img card-image class="card-img-top" src="https://via.placeholder.com/150/150" alt="Sample Image"> -->
                <h5 card-header class="card-title d-flex align-items-center"><i class="fas fa-user me-2"></i><span>Enviar a:</span></h5>

                <ul card-text class="list-group">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                  </ul>

                <!-- <a card-link href="https://example.com" class="btn btn-primary">Go somewhere</a> -->
            </app-card>
            
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-12">

            <app-card>
                <h5 card-header class="card-title d-flex align-items-center"><i class="fas fa-user me-2"></i><span>Shalom</span></h5>
                <!-- <img card-image class="card-img-top" src="https://via.placeholder.com/150/150" alt="Sample Image"> -->
                <h5 card-title class="card-title">Card Title</h5>
                <p card-text class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                <a card-link href="https://example.com" class="btn btn-primary">Go somewhere</a>
            </app-card>

        </div>

    </div>
</div>