<div class="gallery-container mb-3">

    <div class="selected-image">
        <div class="card">

            <img height="" *ngIf="!imageLoaded" [src]="imageMediumPlaceHolder" class="card-img-top" alt="Placeholder" />
            <a data-fancybox="gallery" [href]="selectedImage">
                <img [src]="selectedImage" alt="Imagen del producto" class="image card-img-top" (load)="onImageLoad($event)" [class.loaded]="imageLoaded"/>
            </a>
            
        </div>
    </div>

    <div class="thumbnail-container" *ngIf="images.length > 1">
        <div class="thumbnail" *ngFor="let image of images" (click)="onImageSelect(image)">

            <a data-fancybox="gallery" [href]="image.url_medium">
                <img [src]="image.url_thumbnail" alt="Miniatura"/>
            </a>
            <!-- <img [src]="image.url_thumbnail" alt="Miniatura" /> -->
        </div>
    </div>
</div>

<!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery> -->
