html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body{
  font-family: 'Inter', sans-serif;
  color: #333D4C;
}


a {
  color: inherit; /* Hereda el color del elemento padre */
  text-decoration: none; /* Quita el subrayado */
}

.pointer-cursor {
  cursor: pointer;
}

.fade-in {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 500ms ease-in-out, height 500ms ease-in-out;
}

.fade-in.visible {
  opacity: 1;
  height: auto; /* Ajusta la altura al contenido automáticamente */
}

/* Canvas Cart */
@media (min-width: 0px) and (max-width: 576px) {
  .custom-offcanvas {
    width: 75% !important; /* Establecer ancho al 75% */
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .custom-offcanvas {
    width: 60% !important; /* Establecer ancho al 75% */
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .custom-offcanvas {
    width: 45% !important; /* Establecer ancho al 75% */
  }
}


@media (min-width: 993px) and (max-width: 1200px) {
  .custom-offcanvas {
    width: 30% !important; /* Establecer ancho al 75% */
  }
}


@media (min-width: 1201px){
  .custom-offcanvas {
    width: 25% !important; /* Establecer ancho al 75% */
  }
}