a {
  color: inherit; /* Hereda el color del elemento padre */
  text-decoration: none; /* Quita el subrayado */
}

.pointer-cursor {
  cursor: pointer;
}

.fade-in {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 500ms ease-in-out, height 500ms ease-in-out;
}

.fade-in.visible {
  opacity: 1;
  height: auto; /* Ajusta la altura al contenido automáticamente */
}

/* dropzone */
