<app-button-login *ngIf="!estaAutenticado"></app-button-login>
<ng-container *ngIf="estaAutenticado">

    <!-- Example single danger button -->
    <button (click)="openSearch()" type="button" [ngClass]="showSearch ? 'btn-secondary' : 'btn-outline-secondary'"
        class="btn me-2"><i class="fa-solid fa-magnifying-glass"></i></button>

    <!-- <button type="button" [routerLink]="['/', store, 'auth']" class="btn btn-outline-dark me-2"><span>{{ user.name |
        firstName }}</span></button> -->
    <!-- <div class="btn-group me-2">

        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-store"></i>
        </button>

        <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/', store, 'auth', 'products']"><i
                        class="fa-regular fa-rectangle-list me-2"></i>Products</a></li>

            <li><a class="dropdown-item" [routerLink]="['/', store, 'auth', 'config']"><i
                        class="fa-solid fa-plus me-2"></i>Create Product</a></li>
            <hr class="dropdown-divider">

            <li><a class="dropdown-item" [routerLink]="['/', store, 'auth']"><i
                        class="fa-solid fa-clipboard-list me-2"></i>Orders</a></li>
            <li><a class="dropdown-item" [routerLink]="['/', store, 'auth', 'config']"><i
                        class="fa-solid fa-plus me-2"></i>Create Order</a></li>
        </ul>

    </div> -->

    <app-dropdown-auth-home [store]="store"></app-dropdown-auth-home>

    <app-dropdown-auth-user [store]="store" [name]="user.name"></app-dropdown-auth-user>

 

    <!-- <app-button-products></app-button-products>
    <app-button-orders></app-button-orders> -->


    <!-- <app-cart></app-cart> -->

</ng-container>