<app-loading-center *ngIf="loading" />

<form [formGroup]="form" *ngIf="!loading" class="mb-3">

  <div class="row mb-3">

    <div class="col-lg-12">

      <div class="card mb-3">

        <!-- <div class="card-header py-3">
          Configuracion
        </div>
       -->
        <div class="card-body">

          <app-button-switch formControlName="cash_on_delivery"
            *ngIf="shipment.courier_address.courier.acepta_contra_entrega" textActive="Contra Entrega"
            textDesactive="Enviar Contra Entrega" [id]="'color-status-switchx'" />

          <!-- Tipo de envio, Estandar, Express o Areo -->
          <app-button-shipment-method [courier]="shipment.courier_address.courier"
            formControlName="method"></app-button-shipment-method>

          <!-- payment_type quiere decir el tipo de pago del shipment (no de la orden) -->
          <!-- Gratis, Pago Destino, Cliente paga -->
          <app-button-envio-es formControlName="payment_type"
            [acepta_pago_destino]="shipment.courier_address.courier.acepta_pago_destino"></app-button-envio-es>

          <div class="col-lg-12" *ngIf="form.value.payment_type == 3">
            <app-input-group icon="fa-solid fa-dollar-sign">
              <input formControlName="cost_client" type="number" step="0.01" class="form-control"
                placeholder="Costo de envio" aria-label="Cost Client" aria-describedby="Cost Client">
            </app-input-group>
          </div>

          <label for="" class="mb-3">Fecha de envio</label>
          <app-input-group icon="fa-solid fa-truck-fast">
            <input type="date" class="form-control" formControlName="date" aria-describedby="nameHelp"
              placeholder="Fecha de entrega">
          </app-input-group>

          <div class="row">

            <app-button-save type="primary" (click)="update()" [btnLoading]="btnLoading" [btnActive]="btnActive"></app-button-save>

            <!-- {{ form.value | json }} -->

          </div>

        </div>

      </div>

    </div>

    <!-- <div class="col-lg-12">
      <app-address-default [user_id]="user_id" [address]="address" title="Direccion de envio"
        (eventAddress)="selectedAddress($event)"></app-address-default>
    </div> -->

    <!-- <div class="col-lg-12">

      <app-courier-default [courier_id]="shipment.courier_address.courier.id" [address]="shipment.courier_address"
        [logo]="shipment.courier_address.courier.profile_photo_url"
        (eventAddress)="selectedCourierAddress($event)"></app-courier-default>

    </div> -->

  </div>

</form>

<!-- <div class="col-lg-12">
                    <app-button-envio-es formControlName="envio_es"
                        [acepta_pago_destino]="courier.acepta_pago_destino"></app-button-envio-es>
                </div>

                <div class="col-lg-12" *ngIf="form.get('envio_es')?.value == 2">
                    <app-input-group icon="fa-solid fa-user" icontext="S/." class="w-100">
                        <input type="number" class="form-control" step="0.01" formControlName="shipping_cost"
                            placeholder="0.00">
                    </app-input-group>
                </div> -->