<!-- el componte padre este componenten es table-products-inventory.component -->
<div class="card mb-3 mx-auto">
  
  <!-- <div class="card-header text-bg-light">
    {{ color.name }}
  </div> -->

  <div class="d-flex justify-content-between content">

    <a data-fancybox="gallery" [href]="color.image.url_large">
      <img width="120px" [src]="colorForm.get('image.url_thumbnail')?.value" alt="">
    </a>

    <!-- <img width="120px" [src]="colorForm.get('image.url_thumbnail')?.value" alt=""> -->
    <!-- <gallery [items]="[image]"></gallery> -->

    <div class="p-3">
      <app-inventory-size (quantitySizeUpdated)="getUpdateQuantity($event)" [warehouse_id]="warehouse_id" [size]="size" *ngFor="let size of color.sizes"></app-inventory-size>
    </div>

    <h3 class="text-center quantity" *ngIf="color.sizes.length > 1">{{ totalQuantityColor }}</h3>

  </div>

  <div class="card-body">
    <app-color-fields (titleToColor)="setColorTitle($event)" [color]="color"></app-color-fields>
  </div>

</div>
