<div class="card mb-3">
    <div class="card-header">Payment</div>
    <div class="card-body text-center">
        <button class="btn btn-primary w-100"><i class="fa-solid fa-credit-card me-2"></i> Pagar Ahora</button>

        <button style="font-size: 1rem;" (click)="loadFormPay(postData)" *ngIf="!order.pagado && order.items.length > 0"
            data-bs-toggle="modal" data-bs-target="#myModal"
            class="btn btn-success mb-3 me-2 corner-square p-3 w-100"><i class="fa-solid fa-credit-card me-1"></i>
            Pagar</button>

        <button style="font-size: 1rem; background-color: #5F0673;" *ngIf="!order.pagado && order.items.length > 0"
            data-bs-toggle="modal" data-bs-target="#myModalYape" class="text-white mb-3 corner-square px-3 w-100"><img
                src="assets/images/logo_yape.png" height="50px" alt="">
        </button>

    </div>
</div>