<app-header></app-header>

<app-loading-center *ngIf="loading"></app-loading-center>


<div class="container" *ngIf="!loading">

    <app-stepper></app-stepper>
    <!-- {{ order | json }} -->

    <div class="row">
        <div class="col-lg-6">
            <app-card-address [address]="order.address"></app-card-address>
        </div>
        <div class="col-lg-6">
            <app-card-courier [courier_address]="order.courier_address"></app-card-courier>
        </div>

        <div class="col-lg-12 col-12">
            <app-table-items></app-table-items>
        </div>
    </div>
    

</div>