<div ngbDropdown class="d-inline-block w-100">
    <button type="button" class="btn btn-secondary w-100" id="dropdownBasic1" ngbDropdownToggle>
        <i class="fa-solid fa-print me-2"></i>Imprimir
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="w-100">
        <button (click)="downloadPdf('packing', 'Generado Rotulado')" href="" ngbDropdownItem><i class="fa-solid fa-print me-2"></i> Rotulado</button>
        <hr>
        <button (click)="downloadPdf('voucher', 'Generado Voucher')" href="" ngbDropdownItem><i class="fa-solid fa-box-open me-2"></i>Voucher</button>
    </div>
</div>