<div class="btn-group">
    <button type="button" class="btn  btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown"
        aria-expanded="false">
        Ordenes
    </button>
    <ul class="dropdown-menu">

        <li><a class="dropdown-item" [routerLink]="['/', store, 'auth', 'products']" ><i class="fa-solid fa-box me-2"></i>Orders</a></li>
        <hr class="dropdown-divider">
        <li><a class="dropdown-item" [routerLink]="['/', store, 'auth', 'products']" ><i class="fa-solid fa-plus me-2"></i>Crear Order</a></li>
    </ul>
</div>

